@import url(https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap);

:root {
  --radius: 8px;
  --shadow: rgba(169, 174, 183, 0.5) 0px 1px 2px 0px;
  

  --width-cart: 300px;
  --height-cart: 160px;

  --gray: rgb(246, 248, 249);
  --deep-gray: rgb(119, 124, 130);
  --height-header: 55px;
  --white: white;
  --white-05: rgba(255,255,255, 0.5);
  --red: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: 'Ubuntu', sans-serif;
  scroll-behavior: smooth;
  transition-duration: 300ms;
  user-select: none;
}

body {
  background: var(--gray);
}
*[contenteditable="true"] {
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  width: auto;
  display: inline;
}





/* SCROLL */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--deep-gray);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--deep-gray);
  cursor: pointer;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  opacity: 0;
}

::-webkit-scrollbar-button:vertical:end:increment {
  opacity: 0;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
  opacity: 0;
}

::-webkit-scrollbar-button:horizontal:end:increment {
  opacity: 0;
}